################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TeslaAcademy/v15
/TeslaAcademy/bin/Debug/netcoreapp2.1
/TeslaAcademy/obj
/TeslaAcademy/appsettings.Development.json
/.vs/TeslaAcademy
/New folder/TeslaAcademy/bin/Debug/net5.0
/New folder/TeslaAcademy/obj
/New folder/TeslaAcademy/appsettings.Development.json
